@font-face {
    font-family: 'TaylorSwiftHandwriting';
    src: url('./Taylor Swift Handwriting.ttf') format('truetype');
    /* You may include additional font formats for better cross-browser compatibility */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0a0a2a;
    /* Dark background color */
    color: #add8e6;
    /* Pale blue text color */
}

h1 {
    color: #add8e6;
    /* Pale blue text color for the heading */
    font-family: 'TaylorSwiftHandwriting', sans-serif;
    font-weight: normal;
}

#result {
    margin-top: 20px;
}

.success {
    color: green;
}

.error {
    color: red;
}

input,
button {
    margin-top: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #add8e6;
    /* Pale blue border color */
    background-color: transparent;
    color: #add8e6;
    /* Pale blue text color */
    text-align: center;
}

button {
    margin-bottom: 10vh;
    font-family: 'TaylorSwiftHandwriting', sans-serif;
    font-size: 1.25rem;
    margin-top: 4vh;
}

/* .input-container {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
} */

input {
    /* margin-right: 2rem; */
    font-size: 1.3rem;
}

.label1,
.label2 {
    font-size: 1.3rem;
    margin-right: 1rem;
}

.label1 {
    margin-top: 10px;
}

.label2,
#translation {
    margin-top: 10px;
    font-size: 1.3rem;
}

.label2{
    margin-left: 1rem;
}

.part2 {
    margin-top: 50px;
}

.part2 h1 {
    font-family: 'TaylorSwiftHandwriting', sans-serif;
    font-weight: normal;
}

/* .character-inputs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
    gap: 5px;
    justify-content: center;
    margin-top: 20px;
} */

/* .character-inputs .unit {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
} */

.character-inputs input {
    max-width: 2rem;
    font-size: 1.3rem;
    height: 30px;
    text-align: center;
}

/* .character-inputs input.seperator {
    margin-right: 2rem;
} */

.submit-button {
    margin-top: 2rem;
    background-color: transparent;
    
    transition: background-color 0.5s, color 0.5s;
}

button:hover {
    background-color: #add8e6;
    /* Pale blue background color on hover */
    color: #fff;
    /* White text color on hover */
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    body {
        text-align: center !important;
    }

    input,
    .label1,
    .label2,
    #translation {
        font-size: 1.2rem;
    }

    h1 {
        font-size: 1.75rem;
    }

    .part2 {
        width: 80vw;
        /* Adjust the width as needed */
        margin: 0 10vw;
        /* Center the part2 div */
    }

    .input-container {
        display: block;
        text-align: center;
    }

    .input-container label,
    .input-container input {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

#1, #5, #7, #9{
    margin-right: 2px !important;
}

.middle{
    margin-left: 2px !important;
    margin-right: 2px !important;
}

#4, #6, #8, #14{
    margin-left: 2px !important;
}

.vi{ 
    margin-right: 1rem !important;
}

.vii{
    margin-left: 1rem !important;
}

.topm{
    margin-top: 1.5rem;
}

/* ... Your existing CSS styles ... */

.part2 {
    display: none;
    opacity: 0;
    transition: opacity 3s ease-in-out;
}   
.last_letter{
    margin-right: 2px;
}

/*.correct {
    background-color: green;
    color: white;
}*/

.incorrect {
    background-color: red;
    color: white;
}